body{
    background-image: url("background.jpeg");
    font-family: system-ui;
}

h1{
    text-align: center;
    color: white;
    font-family: system-ui;
}

h3{
    margin-top: 35px;
    margin-bottom: 0;
}
.header{
    display: flex;
    align-items: center;
    justify-content: center;
}

#dashboard{
    display: flex;
    width: 99%;
    height: 80%;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-evenly;
}

#dashboard > *{
    padding: 5%;
    width: 20%;
}

#dashboard > div {
    border-radius: 5px;
    background-color: white;
}

#Einfahrt{
    border-style: solid;
    border-color: black;
    text-align: center;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#Auslastung{
    border-style: solid;
    border-color: black;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

#Auslastung{
    display: block;
    border-style: dotted;
    border-color: black;
    text-align: center;
}

#Ausfahrt{
    border-style: solid;
    border-color: black;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

#outBtn{
    margin-top:2%;
}

#automat{
    border-style: solid;
    border-color: black;
    text-align: center;
}

button {
    background-color: #0c4186;
    border: 1px solid #0c4186;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    transition-duration: 0.4s;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

button:hover {
    background-color: white; /* Green */
    color: black;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#changeTime{
    text-align: center;
}

/*Admin Page */

#uebersicht{
    display: flex;
    width: 99%;
    height: 80%;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-evenly;

}

#uebersicht > div {
    width: 30%;
    border-radius: 5px;
    border-style: solid;
    border-color: black;
    text-align: center;
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: white;
}
