body{
    background-image: url("background.jpeg");
    font-family: system-ui;
}

h1{
    text-align: center;
    color: white;
    font-family: system-ui;
}

h2{
    margin-top: 35px;
    margin-bottom: 5px;
}

h3{
    margin-top: 35px;
    margin-bottom: 5px;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
}

#dashboard{
    display: flex;
    width: 99%;
    height: 80%;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-evenly;
}

/*#dashboard > *{
    padding: 5%;
    width: 20%;
}*/

#dashboard > div {
    width: 30%;
    border-radius: 5px;
    border-style: solid;
    border-color: black;
    text-align: center;
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#Einfahrt{
    border-style: solid;
    border-color: black;
    text-align: center;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#Auslastung{
    border-color: black;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-style: dotted;
    margin-bottom: 20px;
    border-radius: 8px;
    width: 80%;

}

#Ausfahrt{
    border-style: solid;
    border-color: black;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

#changeTime{
    margin-top: 20px;
    text-align: center;
}

#automat{
    border-style: solid;
    border-color: black;
    text-align: center;
}

.button {
    margin-top: 5px;
    background-color: #0c4186;
    border: 1px solid #0c4186;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    transition-duration: 0.4s;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.button:hover {
    background-color: white; /* Green */
    color: black;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/*Admin Page */

#uebersicht{
    display: flex;
    width: 99%;
    height: 80%;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-evenly;

}

#uebersicht > div {
    width: 30%;
    border-radius: 5px;
    border-style: solid;
    border-color: black;
    text-align: center;
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#progress {
    width: 100%;
    height: 20px;
    border-radius: 5px;
    border-style: solid;
    border-color: black;
    background-color: grey;
}

#progressBar {
    width: 1%;
    height: 20px;
    margin-top: -42px;
    border-radius: 5px;
    background-color: green;
}

#auslastungsHeader {
    margin-top: 0px;
}
